/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
button:disabled{
  pointer-events: none;
}
/*--------------------*/
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
  background-color: #fafafa;
  position: relative
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .navBtn{
    @apply hidden h-6 w-6 md:inline-flex cursor-pointer 
    hover:scale-125 transition-all duration-150 ease-out
  }
  .postBtn{
    @apply h-6 w-6 cursor-pointer hover:scale-110 transition-all
    duration-150 ease-out md:h-7 md:w-7
  }
  .actionBtn{
    @apply flex items-center border-b border-borderGray justify-center py-4 
    hover:bg-gray-200 transition-colors
  }
  .profileBtn{
    @apply border border-gray-300 h-7 px-8 hover:border-gray-500 transition-all duration-150 ease-out rounded-sm
  }
  .profilePost{
    @apply w-full h-full max-h-[290px] max-w-[290px] relative
  }
  .profilePost:hover .postOverlay{
    @apply flex
  }
  .editBlock{
    @apply items-center flex gap-5 mb-5
  }
}